@import "tailwindcss";

@theme {
  --font-ag: "Agbalumo", "system-ui";
  --color: #3f64fb; /* sky blue color */
  --gradient: #7231ec; /*  blue-purple color */
  --primary-btn: #7231ec; /*  blue-purple color */
  --primary-dark-btn: #5821b6; /* primary dark purple */
  --secondary-btn: #a55ee3; /* light purple */
  --secondary-dark-btn: #881ad6; /* secondary dark purple */
  --font-courgette: "Courgette", cursive; /* custom font */
}

@layer utilities {
  @keyframes moving-pattern {
    to {
      background-position: 100vmin 20vmin, -100vmin -25vmin;
    }
  }

  .animate-moving-pattern {
    background-color: #7231ec;
    background-image: radial-gradient(
        closest-side at 50% 50%,
        #ffc107 100%,
        rgba(0, 0, 0, 0)
      ),
      radial-gradient(closest-side at 50% 50%, #e91e63 100%, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: 40vmin 40vmin;
    background-position: -100vmin 20vmin, 100vmin -25vmin;
    animation: moving-pattern 5s linear infinite both;
  }

  .font-courgette {
    font-family: var(--font-courgette);
  }
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
}
